doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title Express app
    link(rel="stylesheet", href="/assets/css/styles.css", attr)
  body
    block content

    script(src="/assets/js/appUtils.js")
    script(src="/assets/js/app.js")
    block scripts
