extends layout

block content
  div.container
    div.form-container
      h2 Express App
      form.sign-in-form(method="POST")
        input(name="username", type="text", placeholder="Enter username")
        input(name="password", type="password", placeholder="Enter password")
        input(type="submit" value="Sign in")
